html {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
 background-color: #f7b8ff;
  
  height: 100%;
  width: 100%;
}

h1 {

  color: darkgreen;
  
}

p {

  color: black;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  border: 1px solid #555;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}

li:last-child {
  border-bottom: none;
}

li a.active {
  background-color: #c450d3;
  color: white;
}

li a:hover:not(.active) {
  background-color: #b13dff;
  color: white;
}

